html, body {
  margin: 0;
  height: 100%;
  background-color:#121622;
}

a {
  color: #7bb2ec;
}

h3 {
  color: lightgreen;
}

.card {
  background-color:#121622;
}

#liveRun {
    margin: 0 auto;
 }

.liveRun {
    height: 500px;
    width: 900px;
}

g path,
g circle {
  stroke:  #faffbd ;
  fill:none;
  stroke-width: 1.5px;
}

g.tick line{
  stroke: #a2ffbd;
}

g.axis path{
  stroke: #a2ffbd;
}

g.tick text{
  font-size: 12px;
  fill: #a2ffbd;
}

.axLabel{
  font-size: 20px;
  fill: #a2ffbd;
}
